<div class="page-header">
	<h2>CSC 436 <small>Calling API Service</small></h2>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<div class="jumbotron">
				<div class="container">
				<form class="form-inline">
					<div class="form-group">
						<label for="stockSymbol">Try Stock Name or Symbol ("Apple" or "AAPL")</label>
						<input (input)="term$.next($event.target.value)" class="form-control" id="stockSymbol" name="stockSymbol" value={{symbol}}>
						<ul class="list-group" [hidden]="items == null || items.length < 1" id="stockList">
							<li class="list-group-item" *ngFor="let item of items"><a href="#" (click)="quote(item.Symbol);">{{item.Name}} ({{item.Exchange}})</a></li>
						</ul>
					</div>
				</form>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-xs-8">
			<div class="well well-lg" *ngIf="stockQuote != null || stockQuote != undefined">
				<h3>{{stockQuote.Name}} ({{stockQuote.Symbol}})</h3>
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr class="active">
								<th>Last Price</th>
								<th>Change</th>
								<th>Change Percent</th>
								<th>Change Percent YTD</th>
								<th>Last Traded</th>
								<th>High</th>
								<th>Low</th>
								<th>Open</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{stockQuote.LastPrice | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Change | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.ChangePercent | number : '1.2-2'}}%</td>
								<td>{{stockQuote.ChangePercentYTD |number : '1.2-2'}}%</td>
								<td>{{stockQuote.Timestamp }}</td>
								<td>{{stockQuote.High | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Low | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Open | currency:'USD':true:'1.2-2'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-6">
						<div style="display: block;">
							<canvas baseChart width="400" height="300"
										[data]="chartData.data"
										[labels]="chartData.labels"
										[options]="chartData.options"
										[colors]="chartData.colors"
										[legend]="chartData.legend"
										[chartType]="chartData.chartType"
										(chartHover)="chartHovered($event)"
										(chartClick)="chartClicked($event)">
					      </canvas>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="stockQuote != null || stockQuote != undefined">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr class="active">
								<th>Market Cap</th>
								<th>Volume</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{stockQuote.MarketCap | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Volume | currency:'USD':true:'1.2-2'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>