<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Latest News</h3>
				</div>
				<div class="panel-body">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="..." alt="...">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
							...
						</div>
					</div>

					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="..." alt="...">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Media heading</h4>
							...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Market Trends</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>



		</div>
	</div>
</div>