<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Business News</h3>
				</div>
				<div class="panel-body">
					<div class="list-group-item" *ngFor="let item of marketUpdates">
						<h4 class="list-group-item-heading"><a href="{{item.Url}}">{{item.Title}}</a></h4>
						<!--<div [innerHTML]="item.Summary"></div>-->
						<p class="list-group-item-text">Source: {{item.Publisher}} - {{item.PublishDate}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Market Today</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<table class="table">
							<tr *ngFor="let market of marketIndices">
								<td>{{market.IndexName}} </td>
								<td>{{market.IndexValue | number:'1.2-2'}} </td>
								<td>
									<div [ngClass]="{'text-success': market.IndexValuePctChange > 0, 'text-danger': market.IndexValuePctChange < 0}">
										<span [ngClass]="{'glyphicon glyphicon-arrow-up': market.IndexValuePctChange > 0, 'glyphicon glyphicon-arrow-down': market.IndexValuePctChange < 0}"
											aria-hidden="true"></span> {{market.IndexValuePctChange |number : '1.2-2'}}%
									</div>
								</td>
								<td>
									<div [ngClass]="{'text-success': market.IndexValuePctChange > 0, 'text-danger': market.IndexValuePctChange < 0}">
										<span [ngClass]="{'glyphicon glyphicon-arrow-up': market.IndexValuePctChange > 0, 'glyphicon glyphicon-arrow-down': market.IndexValuePctChange < 0}"
											aria-hidden="true"></span> {{market.IndexValueChange| number:'1.2-2'}}
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>